* {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 1441px;
  max-height: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

header #encabezado {
  font-family: 'IBMPlexMono';
  color: #060A24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-left: 4em;
  padding-right: 4em;
}

header #encabezado label {
  display: none;
}

header #encabezado #menu-hamburguesa {
  display: none;
}

header #encabezado .checkbtn {
  display: none;
}

header #encabezado label:hover {
  cursor: pointer;
}

header #encabezado .logodb {
  padding-left: 1.5em;
}

header #encabezado ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #encabezado li a {
  color: #060A24;
  text-decoration: none;
  padding: 1.5em;
}

header #encabezado li a:hover {
  text-decoration: line-through;
  font-weight: bolder;
  color: #00F3BB;
}

header #encabezado li a:active {
  text-decoration: line-through;
  color: rgba(6, 10, 36, 0.56);
}

#contenido_principal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8em;
  padding-bottom: 1em;
  padding-left: 5em;
  padding-right: 5em;
}

#contenido_principal h1 {
  font-family: "IBM Plex Sans", monospace;
  font-weight: 300;
  font-size: 64px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  padding-bottom: 0.5em;
}

#contenido_principal h1 .specialdot {
  font-family: "IBM Plex Sans", monospace;
  font-weight: 300;
  font-size: 64px;
  color: #0000ec;
}

#contenido_principal p {
  font-family: IBMPlexMono;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 24px;
  padding-bottom: 2em;
  width: 50%;
}

#contenido_principal a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: IBMPlexMono-Medium;
  font-size: 18px;
  background-color: #00F3BB;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  color: #060A24;
}

#contenido_principal a:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F088 100%);
  color: #ffffff;
}

#contenido_episodios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  padding-top: 10em;
  padding-bottom: 18em;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
}

#contenido_episodios h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80%;
  font-family: "IBM Plex Sans", monospace;
  font-weight: 300;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 100px;
}

#contenido_episodios .Spotify-eps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contenido_episodios .Spotify-eps iframe {
  width: 584px;
  height: 232px;
  padding: 1em;
}

#contenido_origen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

#contenido_origen .imgcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  max-height: auto;
  margin: -6.5em;
}

#contenido_origen .imgcontainer img {
  width: 458px;
  height: 742px;
  -webkit-transform: translateY(-8em);
          transform: translateY(-8em);
}

#contenido_origen .texto-origen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  -webkit-transform: translateY(-10em);
          transform: translateY(-10em);
  -webkit-transform: translateX(10em);
          transform: translateX(10em);
}

#contenido_origen .texto-origen h3 {
  font-family: "IBM Plex Sans", monospace;
  font-weight: 300;
  font-size: 48px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 46px;
  padding-bottom: 1em;
}

#contenido_origen .texto-origen p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: IBMPlexMono;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 24px;
  width: 100%;
  padding-bottom: 1em;
}

#contenido_invitados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
  max-width: 100%;
}

#contenido_invitados h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-family: "IBM Plex Sans", monospace;
  font-weight: 300;
  font-size: 48px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 46px;
  padding-bottom: 1em;
}

#contenido_invitados .galeria-invitadas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#contenido_invitados .galeria-invitadas img {
  max-width: 480px;
  max-height: 364px;
}

#contenido_otros_temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

#contenido_otros_temas h4 {
  width: 100%;
  font-family: "IBM Plex Sans", monospace;
  font-weight: 300;
  font-size: 48px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

#contenido_otros_temas .galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

#contenido_otros_temas .galeria figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contenido_otros_temas .galeria figure figcaption {
  font-family: "IBM Plex Sans", monospace;
  font-weight: 700;
  font-size: 20px;
  color: #060A24;
  letter-spacing: 0;
  padding-top: 1em;
}

#contenido_novedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15em;
  padding-bottom: 10em;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
}

#contenido_novedades h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "IBM Plex Sans", monospace;
  font-weight: 300;
  font-size: 48px;
  color: white;
  letter-spacing: 0;
  line-height: 42px;
  padding-bottom: 1em;
}

#contenido_novedades a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: IBMPlexMono-Medium;
  font-size: 18px;
  background-color: #00F3BB;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  color: #060A24;
}

#contenido_novedades a:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F088 100%);
  color: #ffffff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer #pie_de_pagina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  font-family: 'IBMPlexMono';
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  padding-left: 3.5em;
  padding-right: 3.5em;
}

footer #pie_de_pagina .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #pie_de_pagina .social-links li {
  list-style: none;
}

footer #pie_de_pagina .social-links li a {
  padding: 1.5em;
  text-decoration: none;
  color: black;
}

/*CSS Mobile*/
@media (min-width: 210px) and (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container {
    margin: 0;
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  header #encabezado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }
  header #encabezado label {
    display: block;
    padding-right: 2em;
  }
  header #encabezado .checkbtn {
    display: block;
    padding-right: 2em;
  }
  header #encabezado #menu-hamburguesa {
    display: none;
  }
  header #encabezado .logodb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    padding-left: 2em;
  }
  header #encabezado ul {
    display: none;
    font-family: IBMPlexMono;
    width: 100%;
    background-color: #0000EC;
  }
  header #encabezado ul li {
    padding: 1em;
    list-style: none;
  }
  header #encabezado ul li a {
    color: white;
    padding-left: 0;
    text-decoration: none;
  }
  header #encabezado #menu-hamburguesa:checked ~ ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 110%;
    -webkit-transition: all 1s;
    transition: all 1s;
    margin-top: 0.8em;
  }
  #contenido_principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 95%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  #contenido_principal h1 {
    font-family: "IBM Plex Sans", monospace;
    font-weight: 300;
    font-size: 36px;
    color: #060A24;
    width: 80%;
    letter-spacing: 0;
    line-height: 42px;
    padding-bottom: 0.5em;
  }
  #contenido_principal h1 .specialdot {
    font-family: "IBM Plex Sans", monospace;
    font-weight: 300;
    font-size: 36px;
    color: #060A24;
  }
  #contenido_principal p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-family: IBMPlexMono;
    font-size: 14px;
    color: #060A24;
    width: 100%;
    letter-spacing: 0;
    line-height: 22px;
    padding-bottom: 2em;
  }
  #contenido_principal a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: IBMPlexMono-Medium;
    font-size: 16px;
    background-color: #00F3BB;
    width: 90%;
    padding: 1em;
    text-decoration: none;
    color: #060A24;
  }
  #contenido_episodios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 12em;
    padding-left: 0em;
    padding-right: 0em;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
            clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  }
  #contenido_episodios h2 {
    font-family: "IBM Plex Sans", monospace;
    font-weight: 300;
    font-size: 36px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 42px;
    padding-bottom: 0.5em;
  }
  #contenido_episodios .Spotify-eps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #contenido_episodios .Spotify-eps iframe {
    width: 298px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  #contenido_origen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #contenido_origen .imgcontainer {
    margin: -5em;
  }
  #contenido_origen .imgcontainer img {
    position: relative;
    -webkit-transform: translateY(-4em);
            transform: translateY(-4em);
    width: 360px;
    height: 519px;
    max-width: 100%;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  #contenido_origen .texto-origen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
  #contenido_origen .texto-origen h3 {
    width: 50%;
    font-family: "IBM Plex Sans", monospace;
    font-weight: 300;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    padding-bottom: 0.5em;
    padding-top: 1em;
  }
  #contenido_origen .texto-origen p {
    font-family: IBMPlexMono;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    padding-bottom: 2em;
  }
  #contenido_invitados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  #contenido_invitados h3 {
    width: 90%;
    padding: 0;
    margin: 0;
    font-family: "IBM Plex Sans", monospace;
    font-weight: 300;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
  }
  #contenido_invitados .galeria-invitadas {
    padding-top: 2em;
  }
  #contenido_invitados .galeria-invitadas img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 100%;
    height: auto;
  }
  #contenido_otros_temas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  #contenido_otros_temas h4 {
    width: 100%;
    font-family: "IBM Plex Sans", monospace;
    font-weight: 300;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    padding-bottom: 1em;
    padding-top: 0.5em;
  }
  #contenido_otros_temas .galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    margin: 0;
  }
  #contenido_otros_temas .galeria figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 1em;
  }
  #contenido_otros_temas .galeria figcaption {
    font-family: "IBM Plex Sans", monospace;
    font-weight: 700;
    font-size: 20px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    padding-top: 1em;
  }
  #contenido_novedades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 100%;
    padding-bottom: 5em;
    padding-top: 5em;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  }
  #contenido_novedades h5 {
    font-family: "IBM Plex Sans", monospace;
    font-weight: 300;
    font-size: 36px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  #contenido_novedades a {
    font-family: IBMPlexMono-Medium;
    font-size: 16px;
    background-color: #00F3BB;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-decoration: none;
    color: #060A24;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  footer #pie_de_pagina {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'IBMPlexMono';
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
  }
  footer #pie_de_pagina .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer #pie_de_pagina .social-links li {
    list-style: none;
  }
  footer #pie_de_pagina .social-links li a {
    text-decoration: none;
    color: black;
  }
}
/*# sourceMappingURL=style.css.map */